{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}- {% trans "Password Reset" %}{% endblock %}

{% block content %}
		<div id="page-wrapper">

			<!-- Main -->
				<div id="main" class="wrapper style3">
					<div class="container">

						<!-- Content -->
							<section id="content">
								
								
									<div class="row gtr-uniform gtr-50 aln-center">
										<div class="col-lg-6 col-md-12">
											<a href="{% url 'dashboard' %}"><p style="font-size: 15px;font-weight: bold;"><span class="icon solid fa-arrow-left"></span> Home</p></a>
											
                                            <br><br>
                                            <h3 class="align-center">{% trans "Password Reset" %}</h3>
                                            <br>
                                            {% if user.is_authenticated %}
                                            {% include "account/snippets/already_logged_in.html" %}
                                            {% endif %}
                                            <br>
                                            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
										</div>

									</div>
								
							</section>

					</div>
				</div>
		</div>
{% endblock %}