{% extends 'base.html' %}
{% load static %}

{% block content %}

			{% include 'nav.html' %}

			<!-- Banner -->
				<section id="banner" class="hero">
						<div class="content fade-up">
							
								<div class="row d-flex text-center" style="margin-top: 5%;">

									<div class="col-lg-12">
										<div class="text-container">
											<h1 style="font-size:34px">NoMenu</h1>
											<h1 style="font-size:28px">The Easiest Digital Menu System for Modern Restaurants</h1>
										</div>
									</div>
	
									<div class="col-lg-12">
										<div >
											<img class="img-fluid" src="{% static 'images/device_set.png' %}">
										</div>
									</div>
									
								</div>
							

													
						</div>
				</section>

			<section id="about-us" class="wrapper style3 special fade-up">
				<div class="container">
					<div class="row d-flex justify-content-center">
	
						<div class="col-lg-8">
							<header class="major">
								<h2>About NoMenu</h2>
							</header>
							<p>NoMenu is an easily accessible platform that helps your eatery to create and manage a real-time, digital menu for your customers. 
								In addition to helping you ditch the rising costs of traditional paper items, NoMenu provides a modern take on the original menu.</p>
								
							<p>NoMenu is a digital menu management system designed for modern restaurants to use amidst the COVID-19 pandemic. 
								NoMenu serves as the better alternative to other online menu platforms, including Grubhub and Seamless. 
								While online menu management systems are seemingly popping up everywhere, NoMenu is able to stand out from the crowd. 
								Numerous convenient features and a simplistic, easy-to-use software interface gives NoMenu a distinct edge over the competition. 
								In addition to providing the dynamic nature of a digital menu to consumers, 
								NoMenu goes a step further and makes it easier for your eatery to adapt to the new normal. </p>
						</div>
					</div>
				</div>
			</section>

			<section id="benefits" class="wrapper style1 special fade-up">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6">
							<header class="major text-center">
								<h2>Benefits of a digital menu</h2>
							</header>
						</div>	
					</div>	

					<div class="box-alt">
						<div class="row d-flex">
							<section class="col-lg-4">
								<img height="100px" src="{% static 'images/icons/virus.png' %}">
								<h3>Healthy</h3>
								<p>NoMenu requires just that - no menu. Providing a contactless experience for both customers and employees is our priority. </p>
							</section>
							<section class="col-lg-4">
								<img height="100px" src="{% static 'images/icons/recycle.png' %}">
								<h3>Eco-Friendly</h3>
								<p>In contrast to a traditional paper menu, digital menus reduce physical waste while taking less time to design, implement, or update. </p>
							</section>
							<section class="col-lg-4">
								<img height="100px" src="{% static 'images/icons/edit.png' %}">
								<h3>Dynamic</h3>
								<p>Control exactly what your customers can see using digital controls to quickly add or remove menu items. Updating a digital menu like NoMenu takes just seconds. </p>
							</section>
						</div>
					</div>
								
				</div>
			</section>

			<section class="wrapper style3 special fade-up">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<header class="major text-center">
							<h2>Traditonal Menu vs. QR Menu</h2>
							<h4>Why should your restaurant choose NoMenu over a traditional paper menu?</h4>
						</header>
					</div>

					<div class="row d-flex align-items-center justify-content-center gtr-uniform gtr-50" style="margin-bottom: 170px;">
						<div class="col-lg-4"><img src="{% static 'images/icons/phone2.svg' %}" height="250px"></div>
						<div class="col-lg-4">
							<h4>Better experience</h4>
							<p>It provides a better user experience than a regular paper menu. By making use of simplistic yet colorful design elements, NoMenu presents your menu items to customers in an eye-catching, easy-to-read format.</p>
						</div>
					</div>

					<div class="row d-flex align-items-center justify-content-center gtr-uniform gtr-50" style="margin-bottom: 170px;">
						<div class="col-lg-4"><img class="img-fluid" style="padding:10px;" src="{% static 'images/icons/computer.svg' %}"></div>
						<div class="col-lg-4">				
							<h4>Web Based</h4>
							<p>NoMenu is entirely web-based. There’s no need to download a certain app - the accessibility of NoMenu is unmatched. Simply use any mobile or computer internet browser to make menu item changes, configure scheduling times, and more.</p>
						</div>
					</div>	
					
					<div class="row d-flex align-items-center justify-content-center gtr-uniform gtr-50" style="margin-bottom: 170px;">
						<div class="col-lg-4"><img class="img-fluid" src="{% static 'images/icons/analytics.svg' %}"></div>
						<div class="col-lg-4">
							<h4>Analytics</h4>
							<p>NoMenu comes equipped with Google Analytics support giving you the ability to measure your most popular menu items and peak operating times. </p>
						</div>
					</div>

				</div>
			</section>


			<section id="how-it-works" class="wrapper style1 special fade-up">
				<div class="container">
					<div class="row d-flex justify-content-center">
	
						<div class="col-lg-8">
							<header class="major">
								<h2>How NoMenu Works</h2>
							</header>
							<p>Do your customers spend unbearable amounts of time poring over your paper menus? </p>
							<p>Are your customers concerned about the possibility of becoming sick with COVID-19 after using a physical menu?</p>
							<p>Do you struggle with establishing a marked and significant online presence for your restaurant or eatery?</p>
								
							<p>Our platform can help. NoMenu’s unparalleled customizability lets you upload photos of your best dishes, set pricing, 
								and manage your menu offerings in real time. By making use of static QR codes that can be printed, carded for a table, 
								or carried out of the restaurant, NoMenu works to modernize the original paper menu. 
								You can even share your NoMenu to Google Maps and social media for delivery and take-out orders! Because our platform is
								 accessible via mobile or any computer operating system, you can effectively manage your menu no matter where you are. 
							</p>
						</div>
					</div>
				</div>
			</section>

			<section id="contact-us" class="wrapper style1 special fade-up">
				<header class="major">
					<h3>Do you have any questions for us?</h3>
					<h4 style="color: #FDFDFD;">We’d love to hear from you. Please fill out the form below.</h4>
				</header>
				<form method="post" id="contact-form" action="/sendcontact/" class="cta">
					{% csrf_token %}
					<div class="row gtr-uniform gtr-50">
						<div class="col-6 col-12-xsmall">
							{{ form.name }}
						</div>
						<div class="col-6 col-12-xsmall">
							{{ form.from_email }}
						</div>

						<div class="col-12">
							{{ form.message }}
						</div>

						<div class="col-4 col-12-xsmall"><input type="submit" value="Send" class="fit primary" /></div>
					</div>
				</form>

				<div class="message"></div>
			</section>

		</div>
{% include 'footer.html'%}
{% endblock %}