{% extends 'restaurant/base.html' %}
{% load static %}
{% load thumbnail %}
{% load social_share %}

{% block title %}{{ restaurant.name }}{% endblock %}

{% block cart-button %}
<div class="topbar">
    <div class="container">
      <a href="#" data-toggle="modal" data-target="#info-modal"><i style="font-size: 20px;" class="fas fa-info-circle"></i></a>
    </div>
</div>
<!--
<div class="order-button-container">
    <div class="order-overlay"></div>
    <a href="{% url 'order' restaurant.cust_pk %}" class="order-button">View Order</a>
</div>
-->
<div class="favorite-button-container">
    <div class="favorite-overlay"></div>
    <a href="{% url 'favorites' restaurant.cust_pk %}" class="favorite-button">View Favorites</a>
</div>
{% endblock cart-button %}

{% block extra_scripts %} 
    <script src="{% static 'restaurant/item.js' %}"></script>

    <script>
        var favoritesURL = "{% url 'add-favorites' pk=restaurant.cust_pk %}";

        {% if fav_items %}
            $(document).ready(function(){
                $('.favorite-button-container').show();
            });
        {% endif %}
    </script>
    <script src="{% static 'restaurant/favorites.js' %}"></script>

    <script>
      function copyShareText() {
          var copyText = document.getElementById("shareText");
          copyText.select();
          copyText.setSelectionRange(0, 99999)
          document.execCommand("copy");
          alert("Copied text");
      }
    </script>
{% endblock %}

{% block content %}
    <div class="container" style="margin-bottom: 80px;">
        <div class="row">
            <div class="col-md-12">
                <br>
                <a href="." class="pr-3"><i class="fas fa-arrow-left"></i></a>
                <br/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div style="margin-top: 15px;margin-bottom: 15px;">
                    {% if obj.image_url %}
                    <img class="rounded img-fluid" src="{{ obj.image_url }}">
                    {% elif obj.image %}
                    <img class="rounded img-fluid" src="{% thumbnail obj.image 680x452 upscale=True crop='smart' %}">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <h5 class="float-right">{% if obj.price %}{{ obj.priceString }}{% endif %}</h5>
                <h4>{{ obj.title | title }}</h4>
                <br/>
                {% if obj.allergens %}
                <p><b>Allergy warning: {{ obj.allergens }}</b></p>
                {% endif %}
                <p>{{ obj.description }}</p>

                <button type="button" class="mt-3 btn btn-success btn-sm float-right" data-toggle="modal" data-target="#shareModal">
                    <i class="fas fa-share-alt"></i>
                    Share
                </button>
                

                <br/>
                <!--
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-6">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button id="quantity-down" type="button" class="btn btn-danger px-3">-</button>
                                </span>
                                <input
                                    class="form-control"
                                    type="text"
                                    id="quantity"
                                    name="quantity"
                                    value="1"
                                    {% if obj.units == "EA" %}
                                    step="1"
                                    {% else %}
                                    step="0.1"
                                    {% endif %}
                                    style="text-align: center;"
                                />
                                <span class="input-group-append">
                                    <button id="quantity-up" type="button" class="btn btn-success px-3">+</button>
                                </span>
                            </div>
                        </div>
                        
                        
                        <div class="col-12">
                            <div class="form-group">
                                <label form="special-instructions">Special Instructions:</label>
                                <textarea class="form-control" id="special-instructions" name="special-instructions" rows="3"></textarea>
                            </div>
                            
                            
                            <button type="submit" class="btn btn-success btn-lg btn-block" id="add-btn">
                                <span style="float: left;">ADD TO CART</span>
                                <span id="computedPrice" style="float: right;">${{ obj.price }}</span>
                            </button>
                        </div>
                        

                    </div>
                </form>
                -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modal-content %}
<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="info-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="info-modal-label">Restaurant Info</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          <h4>Address</h4>
          <p>
            {{ restaurant.address1 }}<br/>
            {% if restaurant.address2 %}{{ restaurant.address2 }}<br/>{% endif %}
            {{ restaurant.city }}, {{ restaurant.state }} {{ restaurant.zipcode }}<br/>
            <a href="{{ restaurant.google_maps_url }}" target="_blank">View on Google Maps</a>
          </p>
          <h4>Contact</h4>
          <p>
            Email: <a href="mailto:{{ restaurant.owner.email }}">{{ restaurant.owner.email }}</a><br/>
            Phone: <a href="tel:{{obj.phone}}">{{ restaurant.phone }}</a>
            <!-- website? -->
          </p>
          <h4>Hours</h4>
          <p>
            Monday: {% if hours.monday %}{{ hours.monday_hours }}{% else %}Closed{% endif %}<br/>
            Tuesday: {% if hours.tuesday %}{{ hours.tuesday_hours }}{% else %}Closed{% endif %}<br/>
            Wednesday: {% if hours.wednesday %}{{ hours.wednesday_hours }}{% else %}Closed{% endif %}<br/>
            Thursday: {% if hours.thursday %}{{ hours.thursday_hours }}{% else %}Closed{% endif %}<br/>
            Friday: {% if hours.friday %}{{ hours.friday_hours }}{% else %}Closed{% endif %}<br/>
            Saturday: {% if hours.saturday %}{{ hours.saturday_hours }}{% else %}Closed{% endif %}<br/>
            Sunday: {% if hours.sunday %}{{ hours.sunday_hours }}{% else %}Closed{% endif %}<br/>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareModalCenterTitle">Share</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="input-group mb-3">
                <input type="text" id="shareText" onClick="this.select();" class="form-control" value="{{ request.build_absolute_uri }}" readonly>
                <div class="input-group-append">
                  <button class="btn btn-success" type="button" id="button-addon2" onclick="copyShareText();">Copy Text</button>
                </div>
            </div>

            <hr/>

            <a href='sms:?&body=Check out {{obj.title}} on NoMenu.io!%20{{ request.build_absolute_uri|urlencode }}' style="font-size: 30px;"><i class="fas fa-comment-dots float-left mr-3"></i></a>
            {% post_to_facebook obj.get_absolute_url '<i class="fab fa-facebook-square float-left mr-3" style="font-size: 30px;"></i>' %}
            {% post_to_twitter "Check out: {{obj.title}}. on NoMenu.io!" obj.get_absolute_url '<i class="fab fa-twitter-square float-left mr-3" style="font-size: 30px;"></i>' %}

        </div>
      </div>
    </div>
  </div>
{% endblock modal-content %}