{% extends 'dashboard/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <strong class="card-title">Update Category</strong>
            </div>
            <div class="card-body">

              <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
                {% for field in category_form %}
                <div class="form-group">
                  {% render_field field class="form-control" placeholder=field.label %}
                </div>
                {% endfor %}
                <button class="btn btn-outline-success" type="submit">Save</button>
                
              </form>
              
              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}