{% load widget_tweaks %}
<form method="POST" action="{% url 'save-category-update' pk=obj.pk %}" enctype="multipart/form-data">
<div class="modal-body category-modal-body">
    
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="field.label">{{field.label}}</label>
            {% render_field field class="form-control" %}
        </div>
        {% endfor %}


    <br>


    <button class="btn btn-secondary btn-sm" id="uploadTriggerCategory">
        <i class="fa fa-picture-o"></i>
        Upload Image
    </button>
    <br>
    <br>
    <div id="category-image-holder">
        {% if obj.cat_img %}
        <p>Current Image:</p>
        <img width="100px" src="{{ obj.cat_img.url }}">
        {% endif %}
    </div>

    </div>

        <div class="modal-footer">
            <button type="button" id="cancelButton" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
